// This script is an adaptation from SLiM recipe 15.10
// to read the C3H pedigree and simulate new mutations
// using the mutation rate and callable sites described
// in López-Cortegano et al.

function (+)readMatrix(s$ path, [string$ sep = ","]) {
	if (!fileExists(path))
		stop("readMatrix(): File not found at path " + path);
	df = readCSV(path, colNames = F, sep=sep);
	m = df.asMatrix();
	return m;
}

initialize() {
	
	// population parameters
	initializeSLiMModelType("nonWF");
	defineConstant("CALLABLE", 2049374058); // length of the callable genome
	defineConstant("MU", CALLABLE*6.3e-9); // mutation rate per haploid genome per generation (M)
	initializeMutationRate(0.0); // mutations are introduced from a Poisson distribution at the time of birth
	initializeMutationType("m1", 0.5, "f", 0.0);
	m1.convertToSubstitution = T;
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, CALLABLE-1); // 
	initializeRecombinationRate(1e-8);
	
	// read in the pedigree files
	defineConstant("M", readMatrix("C3H_mating.txt", sep = ""));
	defineConstant("D", readMatrix("C3H_death.txt", sep = ""));
	
	// extract the ticks
	defineConstant("Mt", drop(M[, 0]));
	defineConstant("Dt", drop(D[, 0]));
}

reproduction() {
	// generate all offspring for the tick
	m = M[Mt == community.tick, ];
	inds = p1.individuals;
	for (index in seqLen(nrow(m))) {
		// define parents and offspring
		row = m[index, ];
		ind = subpop.subsetIndividuals(tag=row[, 1]);
		mate = subpop.subsetIndividuals(tag=row[, 2]);
		child = subpop.addCrossed(ind, mate);
		child.tag = row[, 3];
		// sample mutations in haploid genome 1
		N_mut1 = asInteger(rpois(1, MU));
		if (N_mut1 > 0) {
			for (i in 0:(N_mut1-1)) {
				pos = asInteger(runif(1, 0, CALLABLE-1));
				child.genome1.addNewMutation(m1, 0.0, pos);
			}
		}
		// sample mutations in haploid genome 2
		N_mut2 = asInteger(rpois(1, MU));
		if (N_mut2 > 0) {
			for (i in 0:(N_mut2-1)) {
				pos = asInteger(runif(1, 0, CALLABLE-1));
				child.genome2.addNewMutation(m1, 0.0, pos);
			}
		}
	}
	self.active = 0;
}

// set the founder population
1 early() {
	sim.addSubpop("p1", 2);
	
	// provide initial tags matching the original model
	p1.individuals.tag = 1:2;
}

early() {
	// execute the predetermined mortality
	inds = p1.individuals;
	inds.fitnessScaling = 1.0;
	
	d = drop(D[Dt == community.tick, 1]);
	indices = match(d, inds.tag);
	inds[indices].fitnessScaling = 0.0;
	inds[inds.age > 1].fitnessScaling = 0.0;
}

late() {
	inds = p1.individuals;
	
	// Founder individuals
	founders = inds[inds.tag == 1 | inds.tag == 2];
	if (length(founders) > 0) {
		for (i in 0:(length(founders)-1)) {
			mut_i = founders[i].genomes.mutations.id;
			mut_i = sort(mut_i);
			if (length(mut_i)) {
				for (j in 0:(length(mut_i)-1)) {
					if (j != 0) cat(" ");
					cat(mut_i[j]);
				}
			}
			cat("\n");
		}
	}
	
	// Sequenced individuals
	inds = inds[match(inds.tag, c(539:585)) >= 0];
	if (length(inds) > 0) {
		for (i in 0:(length(inds)-1)) {
			//cat(sim.cycle + " " + inds[i].tag + " " + inds[i].age + " ");
			//mut_i = inds[i].uniqueMutations.id;
			mut_i = inds[i].genomes.mutations.id;
			mut_i = sort(mut_i);
			if (length(mut_i)) {
				for (j in 0:(length(mut_i)-1)) {
					if (j != 0) cat(" ");
					cat(mut_i[j]);
				}
			}
			cat("\n");
		}
	}
}

// Signal end of simulation
10 late() {
	sim.simulationFinished();
}
